*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.blobs{
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    position: fixed;
    right: 0;
}

.blobs > svg {
    width: 201px;
    height: 190px;
    flex-shrink: 0;
    fill: var(--Lemony---medium, #FFFAD1);
}
.blob-bot {
    position: relative;
    bottom: 0;
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.box {
    padding: 80px;
}
.div--text{
    color: #293264;
    font-size: 20px;
    font-family: Karla;
    font-weight: 700;
    word-wrap: break-word
}
.button{
    border-radius: 7.942px; 
    margin-top: 12px;
    padding: 8px 30px 8px 30px;
    border-radius: 15px;
    border: 0.794px solid #4D5B9E;
    cursor: pointer;
    margin-bottom: 19px;
    margin-right: 20px;
}
.div--line{
    height: 0.794px;
    background-color: #DBDEF0;
    margin-bottom: 15px;
}
.but-text{
    color: #293264;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main--check{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main--check > p {
    color: #293264;
    text-align: center;
    font-family: Inter;
    font-size: 18.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 20px;
}
.main--button{
    
    background-color: #4D5B9E;
    border: none;
    padding: 20px 40px 20px 40px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 50px;

}
.main--button-text{
    color: #F5F7FB;
    text-align: center;
    font-family: Inter;
    font-size: 18.24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}   

.switch-dark-light{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.switch-dark-light {
    color: #293264;
    font-size: 20px;
    font-family: Karla;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 50px;
}
.checkbox {
    opacity: 0;
    position: absolute;  
}
  
.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px ;
}





.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
.dark .ball {
    transform: translateX(24px);
    background-color: rgba(33, 33, 33, 1)
}
  

.dark {
  background-color: rgb(0 0 0 / 95%);
}

.dark .main--check > p {
    color: white;
}
.dark .checkbox-label{
    background-color: white;
}

.dark .switch-dark-light > p {
    color: white;
}

.dark .div--text {
    color: white;
}

.dark .but-text{
    background-color: white;
}